<!-- Banner header -->
<div class="main-search-container">
	<div class="main-search-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Find nearby beds</h1>
					<p>Discover top rated establishments and more.</p>
					<%= link_to 'Learn More', listings_path, :class => 'btn btn-default btn-lg' %>
				</div>			
			</div>
		</div>
	</div>
</div>

<!-- content -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Popular Bedrooms <br>
				<span>Browse <i>the most desirable</i> properties</span>
			</h3>
		</div>
	</div>
</div>

<!-- Carousel -->

<div class="carousel-container margin-top-25">
	<div class="container">
		<div class="row slide">
			<div class="responsive">
				<% @listing.each do |x| %>
					<div class="slide_caption"><%= x.name %></div>
					<% x.listing_photos.each do |y| %>
						<div><%= image_tag y.image.list, class: "carousel_img" %></div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>