.main-search-container:before {
	content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
	background:linear-gradient(to right,rgba(255,255,255,0.99) 20%,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 95%);;
}

.carousel_img {
	padding-left: 15px;
}

/* Required to hold the caption, or any closest parent selector to  .slide__caption */
.slide {
  position: relative;
}

.slide-caption {
  bottom: 70px;
  /*min-height: 80px;*/
  left: 0;
  position: relative;
  width: 100%;
  z-index: 50;
  color: white;
  padding-left: 20px;
}
